<div id="quizesindex">
    <div id="listapreg">
        <table>
            <% for (var i=0; i < quizes.length; i++) { %>
                <tr>
                    <td>
                        <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
                    </td>
                                        <td>
                        <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].tema %></a>
                    </td>
                    <td>
                        <a href="quizes/<%= quizes[i].id %>/editquiz"><button>Edit</button></a>
                    </td>
                    <td>
                        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
                            <button type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
                                Borrar
                            </button>
                        </form>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <div id="formBusqP">
        <form method="get" action="/quizes">
            <p>Buscar:</p>
            <input type="text" name="search" placeholder="Escriba busqueda" />
            <input type="submit" value="Enviar" />
        </form>
    </div>
    <a href="/quizes/newquiz"><button type="button">Crear pregunta</button></a>
</div>