<!--FORMULARIO PREGUNTA - PARA MOSTRAR QUIZ.PREGUNTA - SE ENVIA A ANSWER PARA CONFIRMAR RESUPUESTA -->
<div id="hacerPreg">
    <form method="get" action="/quizes/<%= quiz.id %>/answer">
        <p>Pregunta: <h3><%= quiz.pregunta %></h3> </p>
        <input type="text" name="respuesta" placeholder="Responda aquí" />
        <input class="bot" type="submit" value="Enviar">
    </form>
    <a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>
    <h3>Comentarios</h3>

    <% for(var i in quiz.Comments) {%>
        <% if ( quiz.Comments[i].publicado || session.user) { %>
        <p>- <%= quiz.Comments[i].comentario %>
            <% if (session.user && !quiz.Comments[i].publicado) {%>
                <form method="post" action="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[i].id %>/publish?_method=put">
                    <button class="bot" type="submit">
                       Publicar
                    </button>
                </form>                   
            <% } %>
        <% } %>        
        </p>
    <% } %>
</div>