</br>
<h3>--ESTADISTICAS--</h3>
</br>
<h4>Cantidad total de preguntas</h4>
<p> <%= stats.totalQuizes %> </p>
<h4>Cant. de comentarios asignados a preguntas</h4>
<p> <%= stats.totalComments %></p>
<h4>MEDIA comentarios/pregunta</h4>
<p> <%= stats.mediaCommPreg %> </p>
<h4>Cantidad preguntas SIN comentario</h4>
<p> <%= stats.pregSin %> </p>
<h4>Cantidad preguntas CON comentario</h4>
<p> <%= stats.pregCon %> </p>